<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%">
    <h2 class="text-center mb-4">Login</h2>

    <form (ngSubmit)="login()" [formGroup]="loginForm" #Submit="ngForm">
      <!-- Username -->
      <div class="mb-3">
        <label for="username" class="form-label">User Name</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Enter your username"
          formControlName="username"
        />
        @if (Submit.submitted) {
        <div class="text-danger mt-1 small">
          @if(hasError("username","required")){ *UserName is required }
        </div>
        }
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter your password"
          formControlName="password"
        />
        @if (Submit.submitted) {
        <div class="text-danger mt-1 small">
          @if(hasError("password","required")){ *Password is required }
        </div>
        }
      </div>

      <!-- Submit -->
      <div class="d-grid">
        <button class="btn btn-success" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
