<div class="card shadow-sm p-4 rounded-3">
    <h5 class="fw-semibold mb-3">Zone Activity Summary</h5>

    <!-- 🔹 Date Filter -->
    <form [formGroup]="filterForm" (ngSubmit)="applyFilter()" #formSub="ngForm">
        <div class="row align-items-end mb-4 g-3">
            <div class="col-md-6 col-sm-8">
                <label class="form-label mb-1">Select Date</label>
                <input type="date" formControlName="date" class="form-control form-control-sm" />
                @if (formSub.submitted && hasError('date', 'required')) {
                <div class="text-danger mt-1">Date is required.</div>
                }
            </div>

            <div class="col-md-6 text-end">
                <button class="btn btn-primary btn-sm" type="submit">Apply Filter</button>
            </div>
        </div>
    </form>

    <!-- 🔹 Charts -->
    <div class="row">
        <div class="col-md-6">
            <div class="chart-container" style="height: 150px">
                <canvas id="fencePieChart"></canvas>
            </div>
        </div>

        <div class="col-md-6">
            <div class="chart-container" style="height: 350px">
                <canvas id="fenceBarChart"></canvas>
            </div>
        </div>
    </div>
</div>