<form
  [formGroup]="IPForm"
  #ipFormDirective="ngForm"
  (ngSubmit)="submitHandler()"
>
  <div class="row text-center m-5">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          formControlName="ip"
          placeholder="Enter Ip"
        />
        @if (ipFormDirective.submitted) {
        <div class="text-danger">
          @if (hasError('ip', 'required')) { IP is required }@else if
          (hasError('ip', 'maxlength')) { Max 100 characters allowed }
        </div>
        }
      </div>
      <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
  </div>
</form>
